{# {% extends 'base.html.twig' %}

{% block title %}Hello PlatcategorieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/pascal/Bureau/TheDistrictSymfony/src/Controller/PlatcategorieController.php</code></li>
        <li>Your template at <code>/home/pascal/Bureau/TheDistrictSymfony/templates/platcategorie/index.html.twig</code></li>
    </ul>
</div>
{% endblock %} #}


{% extends 'base.html.twig' %}
 {% block body %}

<div class="row mt-5">
    <div class="col-sm-8 offset-sm-2">
                <h1 class="title-page mt-5 mb-5 mx-5">The District Restaurant</h1>
                 {# <p>Hello World !!!</p> #}
    </div>

     <div class="container-fluid mt-5">
        <div class="row justify-content-center">
             {# <div class="col-sm-8 offset-sm-2"> #}
                 
                    {% for plat in plats %}
                       <div class="card col-md-8 col-lg-4 p-0 mx-3 mt-4 mb-5">
                            <div class="card-body mb-3 ">
                                <h1 class="card-title text-dark">{{ plat.libelle }}</h1>
                                
                                {# <a> </a> #}
                                <img class="card-img-top img-card" src="{{ asset('images/images_the_district/food/') }}{{ plat.image }}">
                                <p class="card-text text-dark mt-4">{{ plat.description }}</p>
                                <div class="text-center">
                                <p class="card-text text-dark mt-4">{{ plat.prix }} €</p>
                                {# <p>Quantité :</p> <input class="col-2"id="number"  name="number" type="number" value="1" min="1" max="50" />
                                
                                <br><br>
                                <p id="totalChamp">Total : {{ plat.prix }} €</p> #}
                                <a href="{{path('app_panier_add', {'id': plat.id})}}" class="envoi btn btn-primary mt-5 btn-lg">Ajouter au panier</a>
                            </div>
                        </div>
                      </div>  
                    {% endfor %}
            
        </div>
    </div>
</div>
{% endblock %}