{# {% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/pascal/Bureau/TheDistrictSymfony/src/Controller/ContactController.php</code></li>
        <li>Your template at <code>/home/pascal/Bureau/TheDistrictSymfony/templates/contact/index.html.twig</code></li>
    </ul>
</div>
{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %}the District : Contactez-nous !{% endblock %}

{% block body %}

<div class="container">
        <div class="row mt-5">
            <div class="col-sm-8 offset-sm-2">
                <h1 class="title-page mt-5 mb-5 mx-5">Contactez-nous !</h1>
                {# <p>Le meilleur du fast food !!!</p> #}
            </div>
        </div>
    </div>

{# <div class="row text-center"> #}

    {{ form_start(form) }}
   <div class="error">
   {{form_errors(form)}}
    </div>



<div class="row justify-content-center mt-5 mb-5">


    {# <div class="col-9 mx-auto mt-4 mb-2"> #}
  
    <div class="col-3">
        {{form_row(form.Nom,{
              'attr': {
                    'class': 'form-control '
                }
            }) }}
    </div>
    </div>

<div class="row justify-content-center mt-5 mb-5">
    <div class="col-3">
        {{form_row(form.Prenom,{
              'attr': {
                    'class': 'form-control '
                }
            }) }}
    </div>
</div>
<div class="row justify-content-center mt-5 mb-5">
<div class="col-3">
        {{form_row(form.Email,{
              'attr': {
                    'class': 'form-control '
                }
            }) }}
    </div>

    {# <div class="col-9 mx-auto mb-2">
        {{form_row(form.Email)}}
    </div> #}
<div class="row justify-content-center mt-5 mb-5">
<div class="col-3">
        {{form_row(form.Telephone,{
              'attr': {
                    'class': 'form-control '
                }
            }) }}
    </div>
</div>

<div class="row justify-content-center mt-3 mb-5">
<div class="col-3">
        {{form_row(form.Demande,{
              'attr': {
                    'class': 'form-control '
                }
            }) }}
    </div>
</div>
    
  <div class="row justify-content-center mt-5 mb-5">
            <button type="submit" class="btn btn-primary mb-5" style="width: 15rem; height: 3rem;">Envoyer le message</button>
        </div>
    </div>
    {{form_end(form)}}
    {# </div> #}
{% endblock %}